body {
font-family: Georgia, Helvetica, sans-serif;
background-color: #BABAFF;
}
#content {
max-width: 1050px;
background-color: #EEEEEE;
border: 2px solid black;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
padding: 10px;
}

#footer {
max-width: 1050px;
background-color: #EEEEEE;
border: 2px solid black;
margin-left: auto;
margin-right: auto;
margin-top: 60px;
padding: 10px;
}

h1, h2, h3 {
font-weight: bold;
font-family: Verdana, Arial, sans-serif;
}
a, a:visited, a:active {
color: blue;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
img.inline {
vertical-align: middle;
}

div.screenshot-container {
margin-left:auto;
margin-right:auto;
max-width:750px;
}

div.screenshot-container-small {
margin-left:auto;
margin-right:auto;
max-width:400px;
}

div.screenshot-container-exsmall {
margin-left:auto;
margin-right:auto;
max-width:200px;
}

div.screenshot-container-exsmall-left {
margin-left:10px;
max-width:200px;
}

img.screenshot {
margin-top: 12px;
margin-bottom: 12px;
max-width: 100%;
height: auto;
}

table, td, tr, th {
border: 1px solid black;
border-collapse: collapse;
padding: 3px;
}

pre {
display: block;
background-color: #D0D0D0;
padding: 10px;